[run]
source =
    tools/rvmc/docker
    tools/rsbc
    mtce/src/hwmon/scripts
    api-ref/source
    doc/source
    releasenotes/source
omit =
    tests/*
    *test*
    *conftest*
    .tox/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    pass
show_missing = True
fail_under = 85

[html]
directory = UTCoverage/htmlcov
