*.a
*.egg
*.egg-info
*.o
*.py[co]
*.pyc
*.so
*.sqlite
.*.swp
.coverage
.installed.cfg
.testrepository
.tox
.venv
AUTHORS
ChangeLog
_build
build
cover
coverage.xml
develop-eggs
dist
eggs
sdist

# Docs Contrib Guide
doc/build/

# Release Notes Management
releasenotes/build

# API Reference Guide
api-ref/build/
