display splash.cfg
timeout 0
F1 help.txt
F2 devices.txt
F3 splash.cfg
serial 0 115200

# Pull in the menu User Interface
ui vesamenu.c32

menu title Select kernel options and boot kernel
menu tabmsg Press [Tab] to edit, [Return] to select, [ESC] to return to previous menu

# Dark grey
menu background   #ff555555

# ----------------- NOTE -----------------
# If you are updating label numbers, make sure that controllerconfig/clone.py
# is in sync with your changes (only serial console entries).
#    STANDARD_STANDARD = '0'
#    STANDARD_EXTENDED = 'S0'
#    AIO_STANDARD = '2'
#    AIO_EXTENDED = 'S2'
#    AIO_LL_STANDARD = '4'
#    AIO_LL_EXTENDED = 'S4'
# ----------------------------------------


# Standard Controller menu
menu begin
  menu title Standard Controller Configuration
  # Serial Console submenu
  menu begin
    menu title Serial Console
    label 0
    menu label STANDARD Security Boot Profile
    text help
      Standard Controller, console=ttyS0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S0
    menu label EXTENDED Security Boot Profile
    text help
      Standard Controller, console=ttyS0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
  
  # Graphical Console submenu
  menu begin
    menu title Graphical Console
    label 1
    menu label STANDARD Security Boot Profile
    text help
      Standard Controller, console=tty0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S1
    menu label EXTENDED Security Boot Profile
    text help
      Standard Controller, console=tty0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
menu end

menu SEPARATOR

# AIO Controller menu
menu begin
  menu title All-in-one Controller Configuration
  # Serial Console submenu
  menu begin
    menu title Serial Console
    label 2
    menu label STANDARD Security Boot Profile
    text help
      All-in-one Controller, console=ttyS0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S2
    menu label EXTENDED Security Boot Profile
    text help
      All-in-one Controller, console=ttyS0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    # Security profile option
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
  
  # Graphical Console submenu
  menu begin
    menu title Graphical Console
    label 3
    menu label STANDARD Security Boot Profile
    text help
      All-in-one Controller, console=tty0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S3
    menu label EXTENDED Security Boot Profile
    text help
      All-in-one Controller, console=tty0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
menu end

menu SEPARATOR

# AIO (Low Latency) Controller menu
menu begin
  menu title All-in-one (lowlatency) Controller Configuration
  # Serial Console submenu
  menu begin
    menu title Serial Console
    label 4
    menu label STANDARD Security Boot Profile
    text help
      All-in-one (lowlatency) Controller, console=ttyS0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S4
    menu label EXTENDED Security Boot Profile
    text help
      All-in-one (lowlatency) Controller, console=ttyS0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
  
  # Graphical Console submenu
  menu begin
    menu title Graphical Console
    label 5
    menu label STANDARD Security Boot Profile
    text help
      All-in-one (lowlatency) Controller, console=tty0
      Standard Security Profile Enabled (default setting)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

    label S5
    menu label EXTENDED Security Boot Profile
    text help
      All-in-one (lowlatency) Controller, console=tty0
      Extended Security Profile Enabled (will impact performance)
    endtext
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=extended user_namespace.enable=1
  menu end
menu end
