display splash.cfg
timeout 0
F1 help.txt
F2 devices.txt
F3 splash.cfg
serial 0 115200

# Pull in the menu User Interface
ui vesamenu.c32

menu title Select kernel options and boot kernel
menu tabmsg Press [Tab] to edit, [Return] to select, [ESC] to return to previous menu

# Dark grey
menu background   #ff555555

# Standard Controller menu
menu begin
  menu title Standard Controller Configuration

  # Serial Console submenu
  label 0
    menu label Serial Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1
  
  # Graphical Console submenu
  label 1
    menu label Graphical Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1
menu end

menu SEPARATOR

# AIO Controller menu
menu begin
  menu title All-in-one Controller Configuration

  # Serial Console submenu
  label 2
    menu label Serial Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1
  
  # Graphical Console submenu
  label 3
    menu label Graphical Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1
menu end

menu SEPARATOR

# AIO (Low Latency) Controller menu
menu begin
  menu title All-in-one (lowlatency) Controller Configuration

  # Serial Console submenu
  label 4
    menu label Serial Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=ttyS0,115200 inst.text serial inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1

  # Graphical Console submenu
  label 5
    menu label Graphical Console
    kernel vmlinuz
    initrd initrd.img
    append rootwait console=tty0 inst.text inst.stage2=hd:LABEL=oe_iso_boot inst.ks=hd:LABEL=oe_iso_boot:/smallsystem_lowlatency_ks.cfg boot_device=sda rootfs_device=sda biosdevname=0 usbcore.autosuspend=-1 inst.gpt security_profile=standard user_namespace.enable=1
menu end
