[Unit]
Description=Inventory Agent
After=nfscommon.service sw-patch.service
After=network-online.target systemd-udev-settle.service
Before=pmon.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/etc/init.d/inventory-agent start
ExecStop=/etc/init.d/inventory-agent stop
PIDFile=/var/run/inventory-agent.pid

[Install]
WantedBy=multi-user.target
