#!/usr/bin/make -f

# export DH_VERBOSE = 1
export ROOT=$(CURDIR)/debian/tmp
export platform_release="$(shell grep SW_VERSION /usr/include/build_info.h | cut -d ' ' -f 3)"

%:
	dh $@

override_dh_auto_configure:
	sed -i s/xxxPLATFORM_RELEASExxx/$(platform_release)/g kickstart.cfg
	dh_auto_configure

override_dh_install:
	install -d -m 755 $(ROOT)/var/www/pages/feed/rel-${platform_release}
	install -p -D -m 700 kickstart.cfg $(ROOT)/var/www/pages/feed/rel-${platform_release}
	dh_install
