#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export INITDIR = $(ROOT)/etc/init.d
export SYSTEMDDIR = $(ROOT)/lib/systemd/system

%:
	dh $@

override_dh_auto_install:
	install -m 755 -d $(INITDIR)
	install -m 755 -p -D scripts/goenabled $(INITDIR)/goenabledStorage
	install -m 755 -d $(SYSTEMDDIR)
	install -m 644 -p -D scripts/goenabled-storage.service $(SYSTEMDDIR)
