[Unit]
Description=Titanium Cloud Maintenance Host Watchdog
After=syslog.service network.target hbsClient.service mtcClient.service sm.service fsmon.service


[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/hostw start
ExecStop=/etc/rc.d/init.d/hostw stop
ExecReload=/etc/rc.d/init.d/hostw reload
PIDFile=/var/run/hostwd.pid

# Failure handling
TimeoutStartSec=10s
TimeoutStopSec=10s

# Auto recovery
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

