[Unit]
Description=Crash Dump Manager
After=network.target
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/etc/init.d/crashDumpMgr start
ExecStop=/etc/init.d/crashDumpMgr stop

[Install]
WantedBy=multi-user.target
