[Unit]
Description=StarlingX Maintenance Heartbeat Agent
After=hbsClient.service
Before=pmon.service

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/hbsAgent start
ExecStop=/etc/rc.d/init.d/hbsAgent stop
PIDFile=/var/run/hbsAgent.pid

[Install]
WantedBy=multi-user.target
