Source: pxe-network-installer
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Homepage: https://www.starlingx.io
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13),
 build-info-dev,
 grub2,
 syslinux-common

Package: pxe-network-installer
Architecture: all
Depends: ${misc:Depends}
Description: System node pxe boot installer
 System node pxe boot installer templates, utils and objects
