Source: mtce-control
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: mtce-control
Architecture: any
Depends: ${misc:Depends}, lighttpd, qemu
Description: StarlingX Platform Controller Node Maintenance Package
 This package contains maintenance support files for the controller-only
 node type.
