#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export INITDIR = $(ROOT)/etc/init.d
export PMONDIR = $(ROOT)/etc/pmon.d

%:
	dh $@

override_dh_auto_install:
	install -m 755 -d $(INITDIR)
	install -m 755 -p -D scripts/goenabled $(INITDIR)/goenabledControl
	install -m 755 -p -D scripts/hbsAgent $(INITDIR)
	install -m 755 -d $(PMONDIR)
	install -m 644 -p -D scripts/hbsAgent.conf $(PMONDIR)

override_dh_installsystemd:
	dh_installsystemd --name hbsAgent
