[Unit]
Description=Titanium Cloud Nova Init
After=network.target config.service worker-config-gate.service
Before=goenabled-worker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/e_nova-init start
ExecStop=/etc/init.d/e_nova-init stop

[Install]
WantedBy=multi-user.target
