[Unit]
Description=Titanium Cloud Maintenance Compute Goenable Ready
After=config.service compute-config-gate.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/goenabledCompute start
ExecStop=/etc/init.d/goenabledCompute stop

[Install]
WantedBy=multi-user.target
