[Unit]
Description=Titanium Cloud Maintenance Worker Goenable Ready
After=config.service worker-config-gate.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/goenabledWorker start
ExecStop=/etc/init.d/goenabledWorker stop

[Install]
WantedBy=multi-user.target
