[Unit]
Description=Titanium Cloud Maintenance Guest Heartbeat Monitor Server
After=network.target syslog.service config.service
Before=pmon.service

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/guestServer start
ExecStop=/etc/rc.d/init.d/guestServer stop
ExecReload=/etc/rc.d/init.d/guestServer reload
PIDFile=/var/run/guestServer.pid

# Failure handling
TimeoutStartSec=10s
TimeoutStopSec=10s

# process recovery is handled by pmond
Restart=no
RestartSec=5

[Install]
WantedBy=multi-user.target

