[Unit]
Description=Crash Dump Manager
After=network.target
Before=sshd.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/etc/init.d/crashDumpMgr --max-size 5Gi

[Install]
WantedBy=multi-user.target
